 html {
   scroll-behavior: smooth;
   background-color: #F2D2BD;

 }

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', monospace, sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
	top:20px;
}

.main {
	padding-top:100px;
}

.myPhoto {
    border-radius: 0.5cm;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }

 .nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
   text-decoration: none;
 }

 .nav-link {
   padding: 0 20px;
   line-height: 50px;
   transition: .3s;
   text-decoration: none;
 }

 .footerLogo {
     width: 80px;
 }

 footer {
     display: flex;
     justify-content: right;
     margin-bottom: 10px;
 }

 .section {
    text-align: left;
 }

 footer p {
      margin: 10px;
  }

 .courseLink {
   text-decoration: none;
 }